<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mikrodinet App Find Your Project Update Today</title>
<meta name="google-site-verification" content="xrZXSnas5jQMYmRwjIt8b2NvP_2Er_MqpnPDxeRXFqk" />
<meta name="google-site-verification" content="eSkV3clqfYFblpvz4FtQxqdpKX0HHO6kr3D6JAWxBsQ" />
<meta name="description" content="App Mikrodinet Github portfolio: Get a chart with the main languages within your repositories and your total number of stars.">
<meta name="description" content="App Mikrodinet How do I get my GitHub username? . Generate username from first name and last name . GitHub Gist: instantly share code, notes, and snippets. "><meta name="description" content="App Mikrodinet Git uses a username to associate commits with an identity. The Git username is not the same as your GitHub username."><meta name="description" content="App Mikrodinet Instant Username Search - GitHub
Instant Username Search helps users find out if their username is taken on more than 100 social media sites.">
<meta name="description" content="Mikrodinet Simple github portfolio generator, just provide your github username! Get a chart with the main languages within your repositories and your total number of stars:"><meta content="mikrodinet,app mikrodinet,finder github,github profile" name="keywords">
<meta name="facebook-domain-verification" content="yll6e5f6kpoicwzq8rychnidgfuxk8"><meta property="og:url" content="https://www.mikrodinet.github.io"><meta property="og:type" content="website"><meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="640"><meta property="og:image:height" content="320">
<meta property="og:title" content="Mikrodinet Github portfolio generator with your main languages"><meta property="og:description" content="Mikrodinet Github portfolio: Get a chart with the main languages within your repositories and your total number of stars.">
<meta property="og:image" content="/asset/img/ico.png"><meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@awfanspage"><meta name="twitter:creator" content="@awfanspage">
<meta name="twitter:title" content="Mikrodinet Github portfolio generator with your main languages">
<meta name="twitter:description" content="Mikrodinet Github portfolio: Get a chart with the main languages within your repositories and your total number of stars."><meta name="twitter:image" content="/asset/img/ico.png">
<link rel="alternate" media="only screen and (max-width: 640px)"  href="https://www.mikrodinet.eu.org ">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-host-pub-6827901881006590"
crossorigin="anonymous"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6827901881006590"
crossorigin="anonymous"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5295583488737876" crossorigin="anonymous"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-host-pub-5295583488737876" crossorigin="anonymous"></script>
<script async custom-element="amp-auto-ads"
src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
<link rel="stylesheet" href="https://cdn.statically.io/gh/isradeleon/coraline/0.5.3/coraline-v0.5.3/coraline.min.css"/>
<link href="https://cdn.statically.io/gh/isradeleon/flexboxlayout/1.0.0/production/flexboxlayout.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"/>
<style>
.hidden{
display: none;
}
.spin-forever{
animation-name: spin;
animation-duration: 1000ms;
animation-iteration-count: infinite;
animation-timing-function: linear; 
}
.link:hover{
background: transparent;
}
@keyframes spin {
from {
transform:rotate(0deg);
}
to {
transform:rotate(360deg);
}
}
.repository{
padding: 10px;
height: 100%;
}
</style>
<script async defer src="https://buttons.github.io/buttons.js"></script>

</head>
<body>
<center>
<h1>
Wellcome Go To Mikrodinet Corporation
</h1></center>
<center>
<h2><a href="https://mikrodinet.github.io" >GET STARTED</a></h2>
</center>

<script>
setInterval(function() {
var div = document.querySelector("#counter");
var count = div.textContent * 1 - 1;
div.textContent = count;
if (count <= 0) {
window.location.replace("http://mikrodinet.github.io/square/");
}
}, 10000);
</script>
<center> <div id="counter">1000</div>

<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fmikrodinet " data-color-scheme="no-preference: light; light: light; dark: light_high_contrast;" data-size="large" aria-label="Follow @mikrodinet on GitHub">Follow @mikrodinet</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/mikrodinet" data-color-scheme="no-preference: light; light: light; dark: light_high_contrast;" data-size="large" aria-label="Fork mikrodinet/awdev on GitHub">Fork</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://mikrodinet.github.io" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Use this template bemail/docker on GitHub">Use this template</a>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/mikrodinet/mikrodinet.github.io/archive/refs/heads/main.zip " data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" aria-label="Download bemail/docker on GitHub">Download</a>
</center>



<main>
<div v-if="!loading && ready">
<!--  <div v-if="user.length > 0 && !loading"> -->
<nav class="navbar fixed" style="border: none; background-color: rgba(255, 255, 255, 0.98)">

<!-- This link will stay here on mobile and tablet -->
<a class="link text-size-s" href="#top">{{user}}</a>

<!-- CSS animated menu icon -->
<input class="menu-toggle" type="checkbox" id="menu1">
<label style="margin-left: auto;" class="burger-btn" for="menu1">
<span class="burger-icon"></span>
</label>

<!-- This content will be responsive on mobile and tablet -->
<div class="navbar-content text-size-s">
<div class="navbar-end">
<a class="link" href="#languages">
Languages
</a>
<a class="link" href="#repositories">
Repositories
</a>
</div>
</div>

</nav>

<div id="top" class="site-section white" style="background: transparent;">

<div class="container below-navbar text-center">
<div class="circular-img profile" :style="{ backgroundImage: 'url('+object.avatar_url+')' }"></div>
<h1 class="main-title">{{object.name ? object.name : object.login}}</h1>
<p class="below-title">{{object.bio}}</p>
<p class="below-title">
<i class="fa fa-users"></i> Followers: {{object.followers}} | 
<i class="fa fa-star"></i> Total stars: {{totalStars}}
</p>
</div>
</div>

<div id="languages" class="site-section">
<div class="container below-navbar text-center">
<h1>Main languages</h1>
<p class="below-title">Total: {{Object.keys(languages).length}}</p>
<template>
<div>
<apexchart width="100%" style="max-width: 600px; margin: auto;" type="donut" :options="options" :series="series"></apexchart>
</div>
</template>
</div>
</div>
<!-- Adsense -->

<!-- And Adsense -->
<div id="repositories" class="site-section white">
<div class="container below-navbar">
<h1 class="text-center">Repositories</h1>
<p class="text-center below-title">Total: {{repositories.length}}</p>
<div class="grid">
<div v-for="repo in listing" class="col-4">
<div class="repository flex column">
<a target="_blank" :href="repo.html_url" class="text-size-6 text-bold">
{{repo.name}}
</a>
<small>{{repo.description}}</small>
<hr>
<div>
<strong v-if="repo.language" class="tag small rounded">
{{repo.language}}
</strong>
<strong v-if="repo.stargazers_count" class="tag small rounded">
<i class="far fa-star"></i> {{repo.stargazers_count}}
</strong>
</div>
</div>
</div>
</div>

<div class="text-center">
<button v-on:click="showAll()" v-if="!showing && repositories.length > 9" class="btn small text-secondary rounded">
<i class="fa fa-eye"></i> Show all
</button>
</div>
</div>
</div>

<footer style="background: white; position: relative;">
<div class="container text-size-s">
<p>
<a target="_blank" href="https://github.com/sponsors/wahyu9kdl">
<i class="fab fa-github"></i>Imofrok
</a><br>
Made with <i class="far fa-heart"></i> by <a target="_blank" href="https://github.com/awdev-corporation">@awdev</a>
</p>
</div>
</footer>

</div>

<div v-if="loading">
<div class="site-section">
<div class="container flex items-center justify-center column">
<i class="fa fa-spinner spin-forever"></i>
Loading...
</div>
</div>
</div>

<div v-if="!ready && !loading">
<div class="site-section">
<div class="container flex items-center justify-center column">
<div style="width: 100%;" class="text-center">
<h1>MIKRODINET</h1>
<h2>Generator Github Portofolio</h2>
<p class="below-title text-gray">Type the github username to generate a portofolio for that profile:</p>
<input v-model="user" class="rounded full-width" placeholder="github_username" style="max-width: 400px;" type="text">
<br>
</div>
<button v-on:click="loadUserPortfolio()" class="btn rounded primary small inverted full-width" style="max-width: 400px;">
Generate
</button>
</div>
</div>
</div>
</main>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
particlesJS.load('particles-js', 'particles.json', function() {
console.log('callback - particles.js config loaded');
});
</script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script>
(function(){
function getParameterByName(name) {
var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
}

Vue.component('apexchart', VueApexCharts)
var vue = new Vue({
el:"main",
data:{
loading: false,
user: '',
object: {},
ready: false,
showing: false,
languages: {},
options: {
labels: [],
plotOptions: {
pie: {
donut: {
labels:{
show: true,
value: {
formatter: function (val) {
return val + (val > 1 ? " repositories":" repository");
}
}
}
}
}
}
},
series: [],
repositories: [],
listing: [],
totalStars: 0
},
methods:{
showAll(){
this.listing = this.repositories
this.showing = true
},
loadUserPortfolio(){
console.log(window.location.host)
window.location.href = '?user='+this.user;
},
getUserData(){
console.log(this.user)
this.loading = true;

this.ready = true;

fetch( "https://api.github.com/users/"+this.user)
.then(response => response.json())
.then(data => {
console.log(data);
if(data.login){
this.object = data;
this.getUserRepos()
}else{
window.location.href = window.location.href.split('?')[0];
}
});
},
getUserRepos(){
fetch( "https://api.github.com/users/"+this.user+"/repos?sort=updated")
.then(response => response.json())
.then(data => {
console.log(data);
this.repositories = data;

if (this.repositories.length > 9) {
this.listing = this.repositories.slice(0,9)
this.listing.slice(0,9)
}else{
this.listing = this.repositories
}

for (let i = 0; i < data.length; i++) {
const repo = data[i];
this.totalStars+=repo['stargazers_count']
if(repo.language){
if(this.languages.hasOwnProperty(repo.language)){
this.languages[repo.language]++
}else{
this.languages[repo.language] = 1
}
}
}
for (const key in this.languages) {
this.options.labels.push(key)
this.series.push(this.languages[key])
}
this.loading = false;
console.log(this.languages)
});
},
setUser(user){
this.user = user
this.getUserData()
}
}
})

var user = getParameterByName("user");
if(user){
vue.loading = true
vue.setUser(getParameterByName("user"));
}

})();
</script>
</div>
<center>
<h2>GitHub User Finder</h2>
GitHub User Finder is a tool that uses the GitHub API to find an user and their information. With this tool, you can find an user trought their username.

<a href="https://mikrodinet.github.io" >Get Started</a>

<h2>Table of Contents 📋</h2>

<li>General Info</li>

<li>Technologies</li>

<li>Installation</li>

<li>Authors</li>

<h3>Social Media</h3>

General Information 🙋‍♂️
The project was completed in 3 hours. I used the IDE "Visual Studio Code" to write the code and use the terminal. The project has only one HTML, CSS and JS file. Also, the project uses a 3 different font files, the font is "Poppins".

<h3>Technologies ⚙️</h3>
HTML5
CSS3
JavaScript Vanilla
Installation 💻💡
To install the project on your computer, you can use the "Code" button and follow the following steps in each case:
<p>
1️⃣ Clone the project</p>

Copy the URL
Open your Git Bash
Write git clone and paste the url. As follows:
<code>
gh repo clone mikrodinet/mikrodinet.github.io
</code>

<p>
2️⃣ Download ZIP</p>

Click "<a href="https://github.com/mikrodinet/mikrodinet.github.io/archive/refs/heads/main.zip" >Download ZIP</a>"
Download the ZIP and extract the files into a folder
Open the folder in your favorite IDE


<h3>Authors 🦸‍♀️</h3>

<a href="https://github.com/mikrodinet/mikrodinet.github.io" >GITHUB </a> <a href="https://mikrodinet.github.io/" >MIKRODINET</a>
☕ COPPYRIGHT  2023 LCC  ,Id SMG KDL-  <a href="https://www.awdev.my.id" >AWDEV</a> - <a href="https://wahyu9kdl.github.io" > CORPORATION</a> - SUPPORT ♥️<a href="https://github.com/sponsors/wahyu9kdl" >DONATION</a>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5295583488737876" crossorigin="anonymous"></script>
<ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-5295583488737876" data-ad-slot="2104008255"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div>
<center><h4>License Mikrodinet</h4>
<a href="https://open-stand.org"><img alt="Buka Logo Grup Stand" height="128px" width="128px" src="https://open-stand.org/wp-content/uploads/2012/08/128x128-blue2.png"></a> <br />Sumber: <a href="https://open-stand.org">open-stand.org</a > 
<p><a href="https://www.dmca.com/Protection/Status.aspx?ID=00158d7f-45ec-4aba-b01d-fa6031ca1178" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=00158d7f-45ec-4aba-b01d-fa6031ca1178"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script></p>
<p><a href="https://www.dmca.com/r/ejd6257" >DMCA MIKRODINET</a></p>
<p><a href="https://www.dmca.com/r/g6xkjy3" >DMCA GITSQUARE MIKRODINET</a></p>
<p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Lisensi Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Ciptaan disebarluaskan di bawah <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Lisensi Creative Commons Atribusi 4.0 Internasional</a>.</p>
<a href="https://www.mikrodinet.eu.org/LICENSE" >GNU General Public License v3.0</a>
<p>Permissions of this strong copyleft license are conditioned on making available complete source code of licensed works and modifications, which include larger works using a licensed work, under the same license. Copyright and license notices must be preserved. Contributors provide an express grant of patent rights.
<a href="https://www.mikrodinet.eu.org/privacy.html" >Privacy Policy</a></p>
<p><a href="https://www.mikrodinet.eu.org" >☕ 2023  MIKRODINET LCC  </a></p>
</p></center>
<a href="https://www.awdev.my.id/search/cse.html">
<center><img id="animation" class="animated" src="https://blogger.googleusercontent.com/img/a/AVvXsEigCnLuAmH2fbduUDOIuwZ4I4Y7GMiHd_J9kzSFr-ADlGMnxg1zlfQ3cLd3jkG-bmQiE3Ai_vq4EDB8YEiYQp7OrDhkwFPMknhrc4uBtEBrnlP1aVl9moGoYX1hMgu6uCj9mneW7vZmHNezj1uCM_UI7mJ1CukDmjP54cSAz_OGIcT5ypYUbPFLV_lm3g=s250 " />

</center></a>
<script async src="https://cse.google.com/cse.js?cx=c393532585f3f437d">
</script>
<div class="gcse-search"></div>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCFM42D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</body>
</html>
